<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Custom Ratingcalculator</title>
  </head>
  <body>
    <div class="col-sm-9">
      <form id="form1">
        <div class="form-group">
          <label for="leaderboard">LearderBoard URL</label>
          <input type="text" class="form-control" name="leaderboard" placeholder="Leaderboard URL" required>
        </div>
        <div class="form-group">
          <label for="no_pages">Enter Number OF Pages in LearderBoard</label>
          <input type="test" class="form-control" name="no_pages" placeholder="Number Of Pages" required>
        </div>
        <div class="form-group">
          <label for="contest_site">Contest Site</label>
          <select name="contest_site" class="form-control">
            <option>Hackerrank</option>
            <option>Codechef</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dburl">DataBase URL</label>
          <input type="text" class="form-control" name="dburl" placeholder="DataBase URL" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/page1.js"></script>

</body>

</html>
